name: Dependency Review

permissions:
  contents: read

on:
  pull_request:
    branches:
      - master

jobs:
  dependency-review:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Run dependency review
        uses: actions/dependency-review-action@v4.8.2