name: MsTest Unit Tests

permissions:
  contents: read

on:
    pull_request:
    workflow_dispatch:


jobs:
    build-and-test: 
        name: MsTest Unit Tests
        runs-on: ubuntu-latest

        steps:
            - name: Checkout Repository
              uses: actions/checkout@v5
            
            - name: Setup .NET
              uses: actions/setup-dotnet@v5
              with:
                dotnet-version: 10.0

            - name: Restore Dependencies
              run: dotnet restore ./TMS.slnx
            
            - name: Build Solution
              run: dotnet build --no-restore

            - name: Run Tests
              run: dotnet test ./TMS.UnitTests/TMS.UnitTests.csproj --verbosity normal